<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Urban Parking</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>

    <body>
        <div id="primary-logo">
            <img class="image" src="../img/Logo.png" />
        </div>


        <div>
            <div class='input-login-group'>
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <input type='text' name='username' id='username' class="input-login" placeholder="username">
            </div>
            <div class="input-login-group">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                <input type='password' name='password' id='password' class="input-login" placeholder="password">
            </div>

            <button class="button" id="sign-in-btn" onclick="login()">
                <img class="image" src="../img/SignInBTN.png">
            </button>
        </div>

        <div>
            <img class="image" src="../img/SignUpfraze.png" />
        </div>

        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="../js/vendor/bootstrap.min.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
